/* Resets */
/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", "Droid Sans", "Helvetica";
	padding: 0;
	margin: 0;
	background-color: #F2F2F2;
	color: #222;
}

a {
	text-decoration: none;
	color: inherit;
}

/* General utility styles */

.center {
	text-align: center;
}

.hidden {
	display: none;
}

/* Generic page layout styles */

.page header.actionbar {
	position: fixed;
	height: 48px;
	width: 100%;
	background-color: #fff;
	display: -webkit-box;
	-webkit-box-align: center;
	z-index: 200;
	padding: 2px 5px;
	-webkit-box-shadow: 0px 5px 5px 5px;
}

.page header.tabbar {
	position: fixed;
	height: 16px;
	top: 52px;
	width: 100%;
	background-color: #E0E0E0;
	display: -webkit-box;
	-webkit-box-align: center;
	z-index: 200;
	text-transform: uppercase;
}

.page header.tabbar a {
	font-size: 12px;
	text-align: center;
	display: block;
	padding: 2px 0px;
	-webkit-box-flex: 1;
}

.page header.tabbar a.active {
	background-color: #eee;
}

.page header h2 {
	font-size: 18px;
	margin-left: 5px;
	-webkit-box-flex: 1;
}

.page .content {
	position: absolute;
	top: 52px;
	left: 0px;
	right: 0px;
	font-size: 18px;
	padding: 5px 10px;
	background-color: #F2F2F2;
}

.page.has-tabbar .content {
	top: 68px;
}

/* Generic look and feel styles */

.content h3 {
	color: #8F0000;
	border-bottom: 1px #8F0000 solid;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	border-bottom: 1px solid #eee;
	width: 100%;
	list-style: none;
}

li a {
	display: block;
	padding: 10px 5px;
}

button {
	background-color: #8F0000;
	color: #fff;
	padding: 10px;
	width: 100%;
	font-size: 18px;
	border: 0px;
}

input[type='text'] {
	-webkit-appearance: none;
	border: 0px;
	border-bottom: 1px solid #ccc;
}

select {
	-webkit-appearance: none;
	border: 0px;
}

/* Search styles */

header h2 input[type='text'] {
	width: 90%;
}

/* Popup dialogs styles */

.popup-container-container {
	display: none;
}

.popup-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(128, 128, 128, 0.5);
	z-index: 300;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.popup {
	background-color: #eee;
	padding: 5px 10px;
	width: 80%;
	-webkit-border-radius: 5px;
}

.popup header h2 {
	font-size: 16px;
	text-transform: Uppercase;
	color: #999;
}
/* Generic interaction items styles */

header .back {
	display: block;
	background: url('images/button-dark-back.png') no-repeat;
	width: 24px;
	height: 48px;
	margin-left: 5px;
}

/* Welcome page Styles */

#welcome-page .content {
}

/* Monuments list styles */

.monuments-list li {
	min-height: 64px;
	position: relative;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	display: -webkit-box;
	width: 100%;
}

.monuments-list .monument-detail {
	-webkit-box-flex: 1;
	display: box;
}

.monuments-list .monument-thumbnail {
}

.monuments-list .monument-name {
	font-size: 14px;
}

.monuments-list .monument-address {
	color: #999;
}

/* Maps styles */

#map {
	bottom: 0px;
}

.leaflet-marker-pane,
.leaflet-shadow-pane,
.leaflet-overlay-pane {
	/* hack to work around https://github.com/CloudMade/Leaflet/issues/335 */
    -webkit-transform: translateZ(0px);
}

/* Monument details styles */

#monument-detail .monument-name {
	font-size: 16px;
}

#monument-detail .monument-sub-details {
	border-top: 1px solid #eee;
	margin-top: 5px;
	padding-top: 10px;
	font-size: 12px;
	color: #666;
}

#monument-detail .monument-country {
	font-size: 12px;
	color: #666;
}

#monument-detail .monument-sub-details span,
#monument-detail .monument-sub-details a
{
	display: block;
}

#monument-detail strong {
	font-weight: normal;
	color: #333;
}

/* Login specific styles */

#login-page ul li {
	border: 0px;
}

#login-page input[type='text'], 
#login-page input[type='password'] {
	width: 90%;
	padding: 10px;
	margin: 5px;
}

#login-page #login {
	float: right;
	padding: 5px;
}

/* Upload confirmation specific CSS */

#upload-confirm-page img.preview-image {
	width: 80%;
	height: auto;
}
