/* Resets */
body {
	font-family: "Roboto", "Droid Sans", "Helvetica";
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Random assorted styles that should be removed soon */

#map {
	position: absolute;
	left: 0;
	top: 52px;
	bottom: 0px;
	right: 0px;
}

/* General utility styles */

.center {
	text-align: center;
}

/* Generic page layout styles */

.page header {
	position: fixed;
	height: 52px;
	width: 100%;
	background-color: #eee;
	display: -webkit-box;
	z-index: 9999;
}

.page header h2 {
	font-size: 18px;
	margin-left: 5px;
}

.page .content {
	position: absolute;
	top: 52px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 14px;
	padding: 5px 10px;
}

/* Generic look and feel styles */

.content h3 {
	color: #888;
	border-bottom: 4px #eee solid;
	padding-left: 5px;
	text-align: left;
	font-size: 16px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	border-bottom: 1px solid #eee;
	width: 100%;
	list-style: none;
}

li a {
	display: block;
	padding: 10px 5px;
}

/* Generic interaction items styles */

header .back {
	display: block;
	background: url('images/button-dark-back.png') no-repeat;
	width: 24px;
	height: 48px;
	margin-left: 5px;
}

/* Welcome page Styles */

#welcome-page .content {
}

/* Monuments list styles */

.monuments-list li {
	min-height: 64px;
	position: relative;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	display: -webkit-box;
	width: 100%;
}

.monuments-list .monument-detail {
	-webkit-box-flex: 1;
	display: box;
}

.monuments-list .monument-thumbnail {
}

.monuments-list .monument-name {
	font-size: 14px;
}

.monuments-list .monument-address {
	color: #999;
}
