#results {
	margin: 0;
	padding: 0;
}

#results li {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 64px;
	border-bottom: solid 1px #888;

	position: relative;
}

#results li img {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
}

#results li span {
	position: absolute;
	top: 0;
	left: 64px;
	right: 0;
	bottom: 0;
	padding: 8px;
	overflow: hidden;
}

