body {
	font-family: "Roboto", "Droid Sans", "Helvetica";
	padding: 0;
	margin: 0;
}

#welcome-page h1 {
	font-size: 18px;
	margin-top: 18px;
}
.welcome-icon {
	float: left;
	width: 48px;
	height: 48px;
	background-image: url(images/icon-small.png);
	background-size: 48px 48px;
}
.welcome-info {
	float: right;
	width: 48px;
	height: 48px;
}
.welcome-pin {
	background-image: url(images/pin.png);
	width: 67px;
	height: 104px;
	display: inline-block;
	margin: auto;
}

#results-page header,
#map-page header,
#detail-page header {
	background-color: #eee;
}
button.back-welcome,
button#back-results {
	display: inline-block;
	border: none;
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-image: url(images/icon-small.png);
	background-size: 32px 32px;
}


#results {
	margin: 0;
	padding: 0;
}

#results li {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 64px;
	border-bottom: solid 1px #888;

	position: relative;
}

#results li img {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
}

#results li div.list-detail {
	position: absolute;
	top: 0;
	left: 64px;
	right: 0;
	bottom: 0;
	padding: 8px;
	overflow: hidden;
}

#results li div.address {
	font-size: 90%;
}

#map {
	position: absolute;
	left: 0;
	top: 52px;
	bottom: 0px;
	right: 0px;
}
