body {
	font-family: "Roboto", "Droid Sans", "Helvetica";
	padding: 0;
	margin: 0;
}

#results-page header,
#map-page header,
#detail-page header {
	background-color: #eee;
}
button.back-welcome,
button#back-results {
	display: inline-block;
	border: none;
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-image: url(images/icon-small.png);
	background-size: 32px 32px;
}


#results {
	margin: 0;
	padding: 0;
}

#results li {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 64px;
	border-bottom: solid 1px #888;

	position: relative;
}

#results li img {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
}

#results li div.list-detail {
	position: absolute;
	top: 0;
	left: 64px;
	right: 0;
	bottom: 0;
	padding: 8px;
	overflow: hidden;
}

#results li div.address {
	font-size: 90%;
}

#map {
	position: absolute;
	left: 0;
	top: 52px;
	bottom: 0px;
	right: 0px;
}

/* General utility styles */

.center {
	text-align: center;
}

/* Generic page layout styles */

.page header {
	position: fixed;
	height: 52px;
	width: 100%;
	background-color: #eee;
	display: -webkit-box;
}

.page header h2 {
	font-size: 18px;
}

.page .content {
	position: absolute;
	top: 52px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 14px;
	padding: 5px 10px;
}

/* Generic look and feel styles */

.content h3 {
	color: #888;
	border-bottom: 4px #eee solid;
	padding-left: 5px;
	text-align: left;
	font-size: 16px;
}

/* Welcome page Styles */

#welcome-page .content {
}
