<!DOCTYPE html>
<html class="loading">
  <head>
  <title></title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
	<meta charset="utf-8">


	<!-- iPad/iPhone specific css below, add after your main css >
	<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />		
	<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />		
	-->
	<link rel="stylesheet" href="common.css" type="text/css">
	<link rel="stylesheet" href="leaflet/leaflet.css" type="text/css">
	<script type="text/javascript" src="js/config.js"></script>
  </head>
  <body class='hidden'>
	<script type="text/html" id="country-list-template">
		<% _.each( _.sortBy( campaigns, function( campaign ) { return campaign.name } ), function( campaign ) { %>
			<li>
				<a class='country-search' href='#'
					data-campaign='<%- campaign.code %>'><%- campaign.name %></a>
			</li>
		<% }); %>
	</script>
	<script type="text/html" id="monument-list-heading">
		<li class="header">
			<msg key="monument-sortby-heading"></msg>
		</li>
		<li>
			<button data-sortby="distance" class="requires-location"><msg key="monument-sortby-distance"></msg></button>
			<button data-sortby="name"><msg key="monument-sortby-name"></msg></button>
			<button data-sortby="address"><msg key="monument-sortby-address"></msg></button>
		</li>
	</script>
	<script type="text/html" id="upload-list-item-template">
		<li>
			<a class='monument-detail' href="#">
				<div class='monument-name'> <%- monument.name %> </div>
				<div class='monument-location'>&nbsp;</div>
			</a>
			<img class='monument-thumbnail' src="images/loader-64.gif"/>
		</li>
	</script>
	<script type="text/html" id="upload-incomplete-list-item-template">
		<li>
			<input type="checkbox" />
			<a class='monument-detail' href="#">
				<div class='monument-name'> <%- monument.name %> </div>
				<div class='monument-location'>&nbsp;</div>
			</a>
			<img class='monument-thumbnail' src="images/loader-64.gif"/>
		</li>
	</script>
	<script type="text/html" id="upload-list-empty-template">
		<li>
			<msg key="no-uploads" />
		</li>
	</script>
	<script type="text/html" id="upload-incomplete-list-empty-template">
		<li>
			<msg key="no-incomplete-uploads" />
		</li>
	</script>
	<script type='text/html' id='upload-completed-item-detail-template'>
		<h3><%- monument.name %></h3>
		<p>
			<a class="monumentLink">
				<msg key="upload-monument-link-text"></msg>
			</a>
		</p>
		<img class='uploaded-image-full' src='<%- photo.data.contentURL %>' />
		<div class='uploaded-image-details'>
			<a href="<%- photo.data.fileUrl %>"><%- photo.data.fileTitle %></a>
		</div>
	</script>
	<script type='text/html' id='upload-incomplete-item-detail-template'>
		<h3><%- monument.name %></h3>
		<p>
			<a class="monumentLink">
				<msg key="upload-monument-link-text"></msg>
			</a>
		</p>
		<img class='uploaded-image-full' width='320' src='<%- photo.data.contentURL %>' />
		<div class='uploaded-image-details'>
			<span><%- photo.data.fileTitle %></span>
		</div>
	</script>
	<script type="text/html" id="monument-list-item-template">
		<li>
			<a class='monument-detail' href="#">
				<div class='monument-name'> <%- monument.name %> </div>
				<small class='monument-address'> <%- monument.address %> </small>
			</a>
			<img class='monument-thumbnail' src="images/placeholder-thumb.png"/>
		</li>
	</script>
	<script type="text/html" id="monument-list-empty-template">
		<li>
			<msg key="no-monuments" />
		</li>
	</script>
	<script type="text/html" id="monument-details-template">
	<h3 class='monument-name'> 
		<%- monument.name %> 
	</h3>
		<div class="photo">
			<img class="monument-thumbnail" src="images/placeholder-full-photo.png">
		</div>
		<div class='monument-country'> 
			<span class="campaign"></span>
		</span>
		<div class='monument-sub-details'>
			<% if(monument.address) { %>
				<div class='monument-address'> 
					<strong> <msg key='monument-address' / > </strong>
					<%- monument.address %> 
				</div>
				<div>
					<a class="external monument-directions" href="<%- monument.addressLink %>">
						<msg key='monument-directions' />
					</a>
				</div>
			<% } else { %>
				<div><strong> <msg key='monument-no-address' /></strong></div>
			<% } %>	
			<% if (monument.articleLink) { %>
				<div class='monument-article'></div>
			<% } %>

		</div>
	</script>
	<script type="text/html" id="upload-confirm-template">
		<h3> <%- monument.name %> </h3>
		<img class='preview-image' src="<%- fileUrl %>" />

		<h3><msg key="confirm-license-title" /></h3>
		<p id="confirm-license-text"></p>

		<div class="center">
			<button id="continue-upload"><msg key="confirm-license-upload" /></button>
			<button id="upload-later-button">
				<msg key="confirm-license-upload-later"></msg>
			</button>
		</div>

	</script>

	<script type="text/html" id="upload-photo-description">
=={{int:filedesc}}==
{{Information
|description={{<%= descData.monument.lang %>|1=<%= descData.monument.name %>}}
<%= descData.idField %>
|date=<%= descData.date %>
|source={{own}}
{{Uploaded with WLM Mobile 
|app-version=<%= descData.appVersion %>
|platform=Android 
|user-agent=<%= descData.ua %>
}}
|author=[[User:<%= descData.username %>|<%= descData.username %>]]
|permission=
|other_versions=
|other_fields=
}}

[//commons.wikimedia.org/wiki/Special:UploadWizard?campaign=wlm-<%= encodeURIComponent(descData.monument.country) %>&id=<%= encodeURIComponent(descData.monument.id) %>&categories=<%
var allCats = descData.cats;
var encodedCats = _.map( allCats, function( cat ) {
  return encodeURIComponent( cat );
} );
encodedCats.push( 'Mobile%20to%20desktop%20upload' );
print(encodedCats.join("|"));
%> {{upload-more-photos-of-this-monument}}]

=={{int:license-header}}==
{{self|<%= descData.license %>}}

<%= descData.autoWikiText %>

<% _.each( descData.cats, function( cat ) { %>
[[Category:<%= cat %>]]
<% });
%>
[[Category:Uploaded via Campaign:wlm-<%= descData.monument.country %>]]
</script>

	<div class="page" id="welcome-page">
		<header class='actionbar'>
			<img src="images/wlm-logo-cropped.png" />
			<h2><msg key="welcome-title"></msg></h2>
			<a class='page-link' data-page='about-page'>
				<img src='images/2-action-about.png' />
			</a>
		</header>
		<div class="content">
			<div class='center'><img src="images/intro-location-icon.png" height="128" /></div>
			<h3><msg key="welcome-intro"></msg></h3>
			<p><msg key="welcome-start"></msg></p>
			<div class='center'>
				<button id="nearby"><msg key="welcome-nearby"></msg></button>
				<button id="countries"><msg key="welcome-browse"></msg></button>
				<button class="page-link" data-page="uploads-page">
					<msg key='tabbar-uploads'></msg>
				</button>
				<p>
					<button class="page-link" data-page="settings-page" >
						<msg key="settings-title"></msg>
					</button>
				</p>
			</div>
		</div>
	</div>

	<div class="page" id="about-page">
		<header class='actionbar'>
			<a class='back' data-page="welcome-page" href="#">
			</a>
			<h2>
				<msg key="about"></msg>
			</h2>
		</header>
		<div class="content">
			<h3><msg key="welcome-title"></msg></h3>
			<p id="about-page-text" data-msg-html="about-wlm-p1"></p>
			<h3 data-msg-text="about-howto-header"></h3>
			<a class="page-link" data-page="how-page" data-msg-text="about-howto-link"></a>
			<h3>
				<msg key="about-app-header"></msg>
			</h3>
			<p id="version"></p>
		</div>
	</div>

	<div class="page" id="how-page">
		<header class='actionbar'>
			<a class='back' href="#"></a>
			<h2 data-msg-text="about-howto-header"></h2>
		</header>
		<div class="content">
			<p data-msg-text="about-howto-0"></p>
			<ol>
				<li data-msg-text="about-howto-1"></li>
				<li data-msg-text="about-howto-2"></li>
				<li data-msg-text="about-howto-3"></li>
				<li data-msg-text="about-howto-4"></li>
				<li data-msg-text="about-howto-5"></li>
				<li data-msg-text="about-howto-6"></li>
			</ol>
			<p>
				<button class="page-link"
					data-page="welcome-page"
					data-msg-text="about-link-home"></button>
			</p>
		</div>
	</div>

	<div class="page" id="campaign-page">
		<header class='actionbar'>
			<a class='back' data-page="welcome-page" href="#"> </a>
			<h2>
				<input type="text" id="filter-campaign" placeholder-msg="search-country-placeholder">
			</h2>
			<a class='page-link' data-page='welcome-page'>
				<img class="home" src="images/home.png">
			</a>
		</header>
		<div class="content">
			<h3><msg key='choose-campaign' /></h3>
			<ul id="campaign-list"></ul>
		</div>
	</div>

	<div class="page blacklistedPage loading" id="locationlookup-page">
		<header class='actionbar'>
			<h2><msg key="geolocating-heading"></msg></h2>
		</header>
		<div class="content">
			<msg key="geolocating-text"></msg>
		</div>
	</div>

	<div class="page" id="results-page">
		<header class='actionbar'>
			<a class='back' href="#"> </a>
			<h2 class="toggle">
				<msg key="toggle-view"></msg>
				<span class="selected"><msg key="toggle-list-view"></msg></span>
				/
				<a class="page-link" data-page="map-page"><msg key="toggle-map-view"></msg></a>
			</h2>
			<a class="show-search"><img src='images/2-action-search.png' /></a>
			<a class='page-link' data-page='welcome-page'>
				<img class="home" src="images/home.png">
			</a>
		</header>
		<header class='actionbar hidden searchbar'>
			<a class='cancel-search back'  href="#"> </a>
			<h2>
				<!-- TODO: i18n -->
				<input type="text" id="filter-monuments" placeholder-msg="search-monument-placeholder">
			</h2>
		</header>
		<div class="content" id="monuments-list">
			<ul class="monuments-sorter" id="monuments-sort"></ul>
			<ul class="monuments-list" id="results"></ul>
		</div>
	</div>

	<div class="page" id="map-page">
		<header class='actionbar'>
			<a class='back' href="#"> </a>
			<h2 class="toggle">
				<msg key="toggle-view"></msg>
				<a class="page-link" data-page="results-page"><msg key="toggle-list-view"></msg></a>
				/
				<span class="selected"><msg key="toggle-map-view"></msg></span>
			</h2>
			<a class='page-link' data-page='welcome-page'>
				<img class="home" src="images/home.png">
			</a>
		</header>
		<div class="content" id="map"></div>
		<div class="mapLoader"></div>
	</div>

	<div class="page" id="uploads-page">
		<header class='actionbar'>
			<a class='back' href="#"></a>
			<h2 class="toggle">
				<msg key="toggle-view"></msg>
				<span class="selected"><msg key="toggle-uploads-complete"></msg></span>
				/
				<a class="page-link" data-page="incomplete-uploads-page"><msg key="toggle-uploads-incomplete"></msg></a>
			</h2>
			<a class='page-link' data-page='welcome-page'>
				<img class="home" src="images/home.png">
			</a>
		</header>
		<div class="content">
			<ul class="monuments-list"></ul>
		</div>
	</div>

	<div class="page" id="incomplete-uploads-page">
		<header class='actionbar'>
			<a class='back' href="#"></a>
			<h2 class="toggle">
				<msg key="toggle-view"></msg>
				<a class="page-link" data-page="uploads-page"><msg key="toggle-uploads-complete"></msg></a>
				/
				<span class="selected"><msg key="toggle-uploads-incomplete"></msg></span>
			</h2>
			<a class='page-link' data-page='welcome-page'>
				<img class="home" src="images/home.png">
			</a>
		</header>
		<div class="content">
			<div>
				<button id="select-all"><msg key="incomplete-select-all"></msg></button>
			</div>
			<ul class="monuments-list"></ul>
			<div>
				<button id="delete-all"><msg key="incomplete-delete"></msg></button>
			</div>
			<div>
				<button id="upload-all"><msg key="incomplete-upload"></msg></button>
			</div>
		</div>
	</div>

	<div class="page" id="completed-upload-detail-page">
		<header class="actionbar">
			<a class='back' href="#"> </a>
			<h2><msg key="upload-completeddetail-title"></msg></h2>
		</header>
		<div class='content' id="completed-upload-detail">
		</div>
	</div>

	<div class="page" id="incomplete-upload-detail-page">
		<header class="actionbar">
			<a class='back' href="#"> </a>
			<h2><msg key="upload-incompletedetail-title"></msg></h2>
		</header>
		<div class='content' id="incomplete-upload-detail">
		</div>
	</div>

	<div class="page" id="detail-page">
		<header class="actionbar">
			<a class='back' href="#"> </a>
			<h2><msg key="detail-title"></msg></h2>
			<a class='page-link upload' data-page="upload-page">
				<msg key="submit-photo"></msg><br/>
				<img src='images/5-content-new-picture.png' />
			</a>
		</header>
		<div class='content' id="monument-detail">
		</div>
	</div>

	<div class="page" id="settings-page">
		<header class="actionbar">
			<a class='back' href="#"> </a>
			<h2><msg key="settings-title"></msg></h2>
		</header>
		<div class='content'>
			<h3><msg key="settings-account-header" /></h3>
			<span id="settings-user-name"></span>
			<button id="settings-login"><msg key="settings-login" /></button>
		</div>
	</div>

	<div class="page" id="login-page">
		<header class="actionbar">
			<a class='back' href="#"> </a>
			<h2><msg key="login-title"></msg></h2>
		</header>
		<div class='content'>
			<ul>
				<li>
					<input id="login-user" type="text" placeholder-msg="placeholder-username" />
				</li>
				<li>
					<input id="login-pass" type="password" placeholder-msg="placeholder-password" />
				</li>
				<li>
					<button id="login">
						<msg key="settings-login"></msg>
					</button>
				</li>
			</ul>
			<div id="login-create-account-msg" data-msg-html="login-create-account"></div>
			<div class="center hidden" id="login-status">
				<img id="login-status-spinner" src="images/loader.gif" />
				<div id="login-status-message">
				</div>
			</div>

		</div>
	</div>

	<div class="popup-container-container" id="upload-page">
		<div class="popup-container">
			<a class="about-link page-link" data-page="how-page">
				<img src="images/2-action-about.png">
			</a>
			<div class="popup">
				<header>
					<h2><msg key='add-photo-title' /></h2>
				</header>
				<msg key="add-photo-explained"></msg>
				<ul class="buttons">
					<li>
						<button id="selectphoto">
							<msg key="add-photo-gallery"></msg>
						</button>
					</li>
					<li>
						<button id="takephoto">
							<msg key="add-photo-camera"></msg>
						</button>
					</li>
					<li class='small-button'>
						<button class="back">
							<msg key='popup-cancel'></msg>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="popup-container-container" id="upload-later">
		<div class="popup-container">
			<div class="popup">
				<header>
					<h2><msg key='saved-later-title' /></h2>
				</header>
				<div class="content visibleLinks" data-msg-html="saved-later-text">
				</div>
				<button class="back">
					<msg key='popup-ok'></msg>
				</button>
			</div>
		</div>
	</div>

	<div class="popup-container-container blacklistedPage" id="logout-progress-page">
		<div class="popup-container">
			<div class="popup loading">
				<header>
					<h2>
						<msg key='logout-in-progress'></msg>
					</h2>
				</header>
				<div class="content"></div>
				<button class="back"><msg key='popup-cancel' /></button>
			</div>
		</div>
	</div>

	<div class="popup-container-container blacklistedPage" id="login-progress-page">
		<div class="popup-container">
			<div class="popup loading">
				<header>
					<h2>
						<msg key='login-in-progress'></msg>
					</h2>
				</header>
				<div class="content"></div>
				<button class="back"><msg key='popup-cancel' /></button>
			</div>
		</div>
	</div>

	<div class="popup-container-container" id="error-page">
		<div class="popup-container">
			<div class="popup">
				<header>
					<h2><msg key="failure-heading" /></h2>
				</header>
				<div class="content">
					<p class="generic-error-msg">
						<msg key="failure-details">
					</p>
					<div class="error-information"></div>
					<button class="back">
						<msg key="popup-cancel"></msg>
					</button>
					</div>
			</div>
		</div>
	</div>

	<div class="popup-container-container blacklistedPage" id="upload-progress-page">
		<div class="popup-container">
			<div class="popup">
				<header>
					<h2><msg key='upload-progress-title' /></h2>
				</header>
				<div id="upload-progress-state" class="center">
					<msg key="upload-progress-starting" />
				</div>
				<div id="upload-progress-bar"></div>
				<button class="back"><msg key="cancel-upload"></msg></button>
			</div>
		</div>
	</div>

	<div class="page"  id="upload-latest-page">
		<header class="actionbar">
			<a class='back' href="#"></a>
			<h2>
				<msg key="upload-latest-title"></msg>
			</h2>
		</header>
		<div class="content">
			<p>
				<msg key="upload-progress-done"></msg>
			</p>
			<p class="share" data-msg-html="upload-latest-view"></p>
			<p>
				<img src='images/loader.gif'>
			</p>
			<button class="back" data-back="1">
				<msg key="upload-again"></msg>
			</button>
			<button class="page-link" data-page='uploads-page'>
				<msg key="upload-monument-review"></msg>
			</a>
		</div>
	</div>

	<div class="page"  id="upload-confirm-page">
		<header class="actionbar">
			<a class='back' href="#"> </a>
			<h2>
				<msg key="confirm-upload-title"></msg>
			</h2>
			<a class="about-link page-link" data-page="how-page">
				<img src="images/2-action-about.png">
			</a>
		</header>
		<div class="content" id="upload-confirm">
			<msg key='upload-progress-starting' />
		</div>
	</div>

	<script type="text/javascript" charset="utf-8" src="js/cordova-stub.js"></script>
	<script type="text/javascript" charset="utf-8" data-main="js/main" src="js/require-jquery.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/platform-stub.js"></script>
  </body>
</html>
